body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type="submit"],
button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover,
button:hover {
    background-color: #000000;
}

.gastos {
    margin-top: 20px;
}

.categoria {
    font-weight: bold;
    margin-top: 10px;
}

.gasto-item {
    margin-bottom: 5px;
}

.editar-btn,
.excluir-btn {
    background-color: #ff1100;
    color: rgb(255, 0, 0);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.editar-btn:hover,
.excluir-btn:hover {
    background-color: #d32f2f;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo {
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
